button {
  color: #fff;
  background: rgb(95, 27, 27);
  padding: 50px;
  margin: 5px;
  font-size: 50px;
  border-radius: 30px;
  border: 4px solid black;
  cursor: pointer;
}

.decrease {
  padding: 56px;
}


.increase10 {
  padding: 22px;
}

.decrease10 {
  padding: 28px;
}